span[class="#Dolphins"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://d.thumbs.redditmedia.com/AIgFK2HNNZtYBMgc.png);
	display: inline-block
}
span[class="#Patriots"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/Ip4nET_V8BJlgFNF.png);
	display: inline-block
}
span[class="#Jets"]:before {
	width: 40px;
	height: 25px;
	bspanckground-position: -0px 0px;
	content: " ";
	background-image: url(http://a.thumbs.redditmedia.com/mVN4IbqFlJHcHwVT.png);
	display: inline-block
}
span[class="#Ravens"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://a.thumbs.redditmedia.com/qc-GeIZZv2XrqvEH.png);
	display: inline-block
}
span[class="#Browns"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://f.thumbs.redditmedia.com/ZOwDgjHhKb-uc4Xe.png);
	display: inline-block
}
span[class="#Steelers"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://a.thumbs.redditmedia.com/zbJZPV40Wkxp6SuB.png);
	display: inline-block
}
span[class="#Bengals"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/rydzMZM2ozFP06LD.png);
	display: inline-block
}
span[class="#Texans"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/lEjU9mvSzTjkqXBX.png);
	display: inline-block
}
span[class="#Colts"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://b.thumbs.redditmedia.com/9y1XQbT73gqVhnnm.png);
	display: inline-block
}
span[class="#Jaguars"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://d.thumbs.redditmedia.com/hFPJ7lbzc3hAFB1u.png);
	display: inline-block
}
span[class="#Titans"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/svgnjoCvNazOeUYd.png);
	display: inline-block
}
span[class="#Broncos"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/quqxJDLgRuZy0cAX.png);
	display: inline-block
}
span[class="#Chiefs"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/CG_NyYUcO-JWM31L.png);
	display: inline-block
}
span[class="#Raiders"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://a.thumbs.redditmedia.com/C7xOBo1IN_knxeDx.png);
	display: inline-block
}
span[class="#Chargers"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/-FcRsoX9_pTttjz8.png);
	display: inline-block
}
span[class="#Cowboys"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/udRnzZDW5om-KVYF.png);
	display: inline-block
}
span[class="#Giants"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://d.thumbs.redditmedia.com/pu8uF_H6UIRlwoeW.png);
	display: inline-block
}
span[class="#Eagles"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/Csih6-tQHqagSqEn.png);
	display: inline-block
}
span[class="#Redskins"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://b.thumbs.redditmedia.com/B0NMgseRx3cRiBPC.png);
	display: inline-block
}
span[class="#Bears"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://e.thumbs.redditmedia.com/6sYkx8OO-qb5bO_F.png);
	display: inline-block
}
span[class="#Lions"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://b.thumbs.redditmedia.com/Q95wOzL3lofFggLs.png);
	display: inline-block
}
span[class="#Packers"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/mOXgTXFsOgrtmLGD.png);
	display: inline-block
}
span[class="#Vikings"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://a.thumbs.redditmedia.com/im3S0VoAlnJsBc4H.png);
	display: inline-block
}
span[class="#Bucs"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://f.thumbs.redditmedia.com/WdkJY7GB5G1crF-A.png);
	display: inline-block
}
span[class="#Falcons"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/wNPfMw1yhli1O1SJ.png);
	display: inline-block
}
span[class="#Panthers"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/5gP_m89DP8ZjQaB8.png);
	display: inline-block
}
span[class="#Saints"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://a.thumbs.redditmedia.com/V1V9up6Unfzf6vLf.png);
	display: inline-block
}
span[class="#Cardinals"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://f.thumbs.redditmedia.com/niZx17EElABxRaF_.png);
	display: inline-block
}
span[class="#Rams"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://f.thumbs.redditmedia.com/BZ0mOiEU7ZYRPXYq.png);
	display: inline-block
}
span[class="#49ers"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://d.thumbs.redditmedia.com/zMeD3YMuvyxidrh9.png);
	display: inline-block
}
span[class="#Seahawks"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://d.thumbs.redditmedia.com/32VKdiXe3nvCbx5i.png);
	display: inline-block
}

span[class="#Bills"]:before {
	width: 40px;
	height: 25px;
	background-position: -0px 0px;
	content: " ";
	background-image: url(http://c.thumbs.redditmedia.com/5JJrrkfsHawnBn_8.png);
	display: inline-block
}