<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Pick em!</title>
		<meta name="description" content="" />
		<meta name="author" content="Tito Perez" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

	
		<link rel="shortcut icon" href="/static/img/favicon.ico" />
		
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
		<script src="/static/jav/jquery.js"></script>
		<script src="/static/jav/bootstrap.js"></script>
		<script src="/static/jav/table-sorter.js"></script>
		
		
			<link href="/static/css/teams.css" rel="stylesheet" type="text/css" />
	</head>

	  {% block content %}
  {% endblock %}
  <script>	$('#navbar').affix()</script>

</html>
